@import "../../../GlobalVariables.css";

.navbarContainer {
  width: 20vw;
  flex: 1;
  height: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: solid 1px var(--medium-grey);
  background-image: url("../../../assets/navbar.svg");
  background-size: cover;
  background-position: center;
}

.pageLinksContainer {
  width: 100%;
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 3rem;
}

.pendingLink,
.activeLink,
.logoutLink {
  width: 80%;
  text-align: center;
  padding: 1rem 1rem;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border: solid 1px transparent;
  text-decoration: none;
}

.pendingLink:hover {
  border-radius: 12px;
  border: solid 1px #002743;
  padding: 1rem 1rem;
  transition: padding 0.1s ease-in;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.activeLink {
  background-color: rgba(91, 113, 173, 0.3);
  color: var(--white);
  border-radius: 12px;
  transition: background-color 0.5s ease-in, color 0.2s ease-in;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);

  backdrop-filter: blur(10px);
}

.iconAndTextContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  font-size: 1.2rem;
}

.linkIcons {
  font-size: 1.2rem;
}

.logoutLink:hover {
  /* Augmentez la transparence ici */
  .activeLink,
  .logoutLink {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .navbarContainer {
    padding: 1rem;
  }

  .pageLinksContainer {
    padding-top: 2rem;
  }

  .logoutContainer {
    padding-top: 0.5rem;
  }

  .pendingLink,
  .activeLink,
  .logoutLink {
    padding: 0.75rem 0;
  }

  .iconAndTextContainer {
    font-size: 1rem;
  }

  .linkIcons {
    font-size: 1rem;
  }
}
